<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="CHROME">
        <parameter name="browser" value="CHROME"/>
        <packages>
            <package name="org.example.pom.tests" />
        </packages>
    </test>
    <test name="FIREFOX">
        <parameter name="browser" value="FIREFOX"/>
        <packages>
            <package name="org.example.pom.tests" />
        </packages>
    </test>
</suite>